
.series-page-container {
  background-color: #000;
  min-height: 100vh;
  padding: 15px;
  color: #fff;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #000000;
  flex-wrap: wrap;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.filter-layout {
  display: flex;
  gap: 20px;
  flex: 1; 
  padding: 20px;
}

.filters {
  width: 250px;
  background-color: #222;
  padding: 15px;
  border-radius: 8px;
}

.btn-genre {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  background-color: #000000;
  border: 1px solid #000000;
  border-bottom: 3px solid #912d2d;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.btn-genre:hover {
  background-color: #555;
}

.badge {
  display: inline-block;
  background-color: #160413;
  color: #fff;
  padding: 3px 7px;
  border-radius: 12px;
  margin: 3px;
  cursor: pointer;
}

.series-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.serie-card {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-bottom: 3px solid #912d2d;
  background-color: #222;
  border-radius: 6px;
}

.poster img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.info h3 {
  margin: 0;
  margin-bottom: 5px;
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}
